body {
  font-family: "Nanum Pen Script", cursive;
}

img {
  height: 300px;
  width: 50%;
  max-width: 100%;
}

.bg-a {
  background: url("../assets/images/a.png");
  width: 300px;
  max-height: 200px;
}
.bg-b {
  background: url("/images/b.png");
  width: 300px;
  max-height: 200px;
}
