@font-face {
  font-family: "SF_HambakSnow";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HambakSnow.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ShinChon";
  src: url("../asset/fonts/ShinChon.woff2") format("woff2"),
    url("../asset/fonts/ShinChon.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* woff2 이후에 woff를 지정해 백업 */
.hambak {
  font-family: "SF_HambakSnow";
  font-weight: normal;
  font-style: normal;
}
/* font-face 정의 */
.nanumpen {
  font-family: "Nanum Pen Script", cursive;
  font-weight: 400;
  font-style: normal;
}
.ShinChon {
  font-family: "ShinChon";
  font-weight: normal;
  font-style: normal;
}
