body {
  font-family: "Jua", sans-serif;
}

img {
  max-height: 200px;
}

.bg-a {
  background: url("../assets//images//a.jpg");
  width: 100%;
  height: 200px;
}

.bg-b {
  background: url("/b.jpg");
  width: 100%;
  height: 200px;
}
