@import "tailwindcss";

@layer components {
  .item-middle {
    @apply flex justify-center items-center min-h-screen;
  }
}

input:checked + span {
  text-decoration: line-through;
  opacity: 0.3;
}
